* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151820;
    overflow: hidden;
}

.text-container h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    line-height: 80px;
}

.text-container h1 span {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text-container .animated-text {
    position: relative;
    background: #4385F4;
    margin-top: 15px;
    width: 570px;
    height: 75px;
    box-shadow: 0 0 10px #4385F4,
        0 0 120px #4285F4;
        overflow: hidden;

}

.text-container .animated-text::before {
    content: '';
    background: rgba(225, 225, 225, 0.1);
    position: absolute;
    width: 55%;
    height: 100%;
    transform: skew(25deg) translateX(-20px);


}

.text-container .animated-text h2 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
  
    line-height: 75px;

}

.text-container .animated-text h2:nth-child(1) {
    animation: text-move 9s  infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -75px;
    }

    50% {
        margin-top: -150px;
    }
    75% {
        margin-top: -75px;
    }
    100% {
        margin-top: 0;
    }


}
.text-container{
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(225,225,225,0.5));

}
.animation-container{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 750px;
    height: 550px;
}
.burst{
position: relative;
}
.burst .line{
    position: absolute;
    background: #fff;

    width: 10px;
    height: 10px;
}
.burst .line:nth-child(1){
    background: #ea4335;
    animation: move01 2s linear infinite;
}
.burst .line:nth-child(2){
    background:#FBBC05;
    animation: move02 2s linear infinite;
}
.burst .line:nth-child(3){
    background: #4285F4;
    animation: move03 2s linear infinite;
}
.burst .line:nth-child(4){
    background: #34A853;
    animation: move04 2s linear infinite;
}
.burst .line:nth-child(5){
    background: #EA4335;
    animation: move05 2s linear infinite;
}
.burst .line:nth-child(6){
    background: #EA4335;
    animation: move06 2s linear infinite;
}
.burst .line:nth-child(7){
    background: #76B5C5;
    animation: move07 2s linear infinite;
}
.burst .line:nth-child(8){
    background: #EAB676;
    animation: move08 2s linear infinite;
}


@keyframes move01{
    0%{
       transform:  rotate(45deg)  translate(0,0); 
       opacity: 0;
    }
    50%{
        transform:  rotate(45deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(45deg)  translate(0,135px); 
        opacity: 0;
     }
}
@keyframes move02{
    0%{
       transform: rotate(90deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(90deg) translate(0,90px); 
        opacity:1;
     }
     100%{
        transform: rotate(90deg) translate(0,135px); 
        opacity: 0;
     }
    }
@keyframes move03{
    0%{
       transform: rotate(135deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(135deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(135deg) translate(0,135px); 
        opacity: 0;
     }
}
@keyframes move04{
    0%{
       transform: rotate(180deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(180deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(180deg) translate(0,135px); 
        opacity: 0;
     }
    }

@keyframes move05{
    0%{
       transform: rotate(225deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(225deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(225deg) translate(0,135px); 
        opacity: 0;
     }
}
@keyframes move06{
    0%{
       transform: rotate(270deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(270deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(270deg) translate(0,135px); 
        opacity: 0;
     }
}
@keyframes move07{
    0%{
       transform: rotate(315deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(315deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(315deg) translate(0,135px); 
        opacity: 0;
     }
    }
@keyframes move08{
    0%{
       transform: rotate(360deg) translate(0,0); 
       opacity: 0;
    }
    50%{
        transform: rotate(360deg) translate(0,90px); 
        opacity:1 ;
     }
     100%{
        transform: rotate(360deg) translate(0,135px); 
        opacity: 0;
     }
}




@media (max-width: 768px){

    .text-container h1 {
        color: #fff;
        font-size: 70px;
        font-weight: 900;
        text-align: center;
        line-height: 80px;
    }
    
    .text-container h1 span {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .animation-container{
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 600px;
        height: 450px;
    }
    .text-container .animated-text {
        position: relative;
        background: #4385F4;
        margin-top: 15px;
        width: 370px;
        height: 75px;
        box-shadow: 0 0 10px #4385F4,
            0 0 120px #4285F4;
            overflow: hidden;
    
    }
    .text-container .animated-text h2 {
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;

        line-height: 65px;
    
    }
}
